dist
node_modules
.next
build
.contentlayer
registry/__index__.tsx

pnpm-lock.yaml
.changeset/*.md
CHANGELOG.md

# contains mdx comments
types.generated.ts

# Ignore all MDX files to prevent unwanted JSX line wrapping
# *.mdx
